@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-wrap: wrap;
  flex-grow: 1;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imgcarousel{
  height: 400px;
  object-fit: cover;
}

@media all and (min-width: 992px) {
  .imgcarousel{
    height: 500px;
    object-position: 50% 30%;
  }
}